@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('/assets/Background.png');
    color: white;
}

.text-blue {
    color: #8FB2F5;
}

.search-container {
    /* margin-top: 192px; */
    width: 311px;
    transition: margin-top 0.7s ease-out;
}

.search-container p:last-of-type {
    color: #BFBFD4;
    padding-bottom: 32px;
}

.details-list span {
    color: #BFBFD4;
}

.container {
    width: 359px;
    background-color: #16161F;
    border-radius: 12px;
}

.container-visible {
    transition: opacity 15s ease;
    opacity: 1;
}

.details-container li:not(:last-child) {
    border-bottom: 1px solid #1C1C27;
}

.today-cart {
    background-image: url('/assets/today_bg.png');
}

.location-date {
    margin-bottom: 111px;
}

.submitted {
    margin-top: 30px;
}

input[type=text]:focus {
    outline: none;
}

.filtered-cities-list {
    width: 359px;
    background-color: #1E1E29;
    z-index: 9999;
    position: absolute;
}

.filtered-cities-list li:not(:last-child) {
    border-bottom: 1px solid #13131A;
}

.filtered-cities-list li:hover {
    background-color: #1a1a1f;
}