@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('/assets/Background.png');
    color: white;
}

.text-blue {
    color: #8FB2F5;
}

.search-container {
    /* margin-top: 192px; */
    width: 311px;
}

.details-list span {
    color: #BFBFD4;
}

.container {
    width: 359px;
    background-color: #16161F;
    border-radius: 12px;
}

.details-container li:not(:last-child) {
    border-bottom: 1px solid #1C1C27;
}

.today-cart {
    background-image: url('/assets/today_bg.png');
}

.location-date {
    margin-bottom: 111px;
}